@import url('https://fonts.cdnfonts.com/css/mortal-kombat');

body{
    background-image: url(photos/main-menu.jpg);
    background-size: cover;
    font-family: 'Mortal Kombat 4', sans-serif;
}
.container{
    text-align: center;
}
.title{
    font-size: 1000%;
    color: rgb(151, 35, 0);
    text-shadow: 10px 10px 20px #000;
    -webkit-text-stroke: 5px #000;
    cursor: default;
}
.options{
    display: block;
    margin: 10px 0;
    text-align: center;
    padding: 100px;
}
.options button{
    width: 70%;
    height: 60px;
    font-size: 40px;
    margin: 10px 0;
    font-family: 'Mortal Kombat 4', sans-serif;
    background-color: rgb(75, 0, 0, .4);
    border: none;
    color:rgb(255, 0, 0);
    cursor: pointer;
}
.options button:hover{
    background-color: rgba(75, 0, 0, 0.6);
}